.dashbp2{
    margin: auto 0;
    padding: $l-size;
}

.dashbp3{
    padding-bottom: $l-size;
    padding-right: $xl-size;
    padding-left:$l-size;
}

.dashbgColor{
    background-color:#C4DCFF;
}

.onBbgColor{
    background-color: #C4FFF2;
}
.goalBgColor{
    background-color: #FFF793;
}
.goalbg2{
    background-color: #6D09C4;
    padding: $xl-size 0;
}


.goalpic2{
    display: block;
    margin: 0 auto;
    max-width: 100%;  
    height: auto;
    padding: 0 $m-size;
    
}

.goalpic3{
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    height: auto;
    padding: 0 $m-size;
    
}
.goalbg3{
    background-color: #F5A623;
    padding: $xl-size 0;

}

.pathpic1{
    margin: auto 0;
    padding: $l-size;
}