.Images{
    margin: 0 auto;
    display: inline-block;
}
.ImageIcon{
    transform: scale(1.2);
    padding: 0 0.8rem 1.2rem 0.8rem;
}

.outerdiv{
    text-align: center;
}

.HeroDiv{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h1{
        margin: 0 auto;
        display: inline-block;
        font-family: 'Playfair-display',serif;
        font-size: $xl-size;
        color: #323232;
        letter-spacing: -0.1rem;
        // max-width: 25%;
        padding-top: $xl-size;
        text-align: center;
    };
    h2{
        margin: 0 auto;
        display: inline-block;
        padding: $m-size;
        /* I design, illustrate: */
        font-weight: 200;
        font-size: 2.8rem;
        color: #474747;
        letter-spacing: 0.1rem;
        text-align: center;
    };
    h3{
        // max-width: 35%;
        margin: 0 auto;
        display: inline-block;
        padding: $l-size $m-size;
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
        line-height: 2.5rem;

    };
}
.NavHeader{
    display: flex;
    padding-top: 0.8rem;
    max-height: 10%;
    .LogoContainer{
    flex-basis: 70%;
    max-height: 20%;
    padding-left: $m-size;
    display: inline-block;
        .LogoIcon{
            display: inline-block;
            margin: auto;
            padding-top:0.4rem;
        }
    };
    .LinkContainer{
        justify-content: center;
        margin: auto;
        a{
            color: #474747;
            font-weight: 100;
            padding-left: $l-size;
        };
    }
}

.ContentContainer{
    border: #323232 solid 1px;
};

.ContentHome{
    margin: 0 auto;
    display: flex;
};



.responsive-image {
    max-width: 100%;
};

.cell img {
    display: block;
};


.cell {
    margin: 2rem;
    border: #EDEDED solid 1px;
    border-radius: 8px;
    height: 100%;
    .headerContent, .subtext, .tags{
        padding-left: $m-size;
    }
};
.grid{
    padding: 0 $xl-size;
};

@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0 $xl-size;
    };
    .cell {
        width: calc(50% - 6rem);
    };
    
  };

@media screen and (min-width: 1000px) {
    .cell {
        width: calc(33.3333% - 6rem);
    };
  };